@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001.woff2') format('woff2'),
         url('vcr_osd_mono_1.001.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}